In [85]:
import pandas as pd
import matplotlib.pyplot as plt

## Load & Read Dataset

Deskripsi dataset:
1. SG_XPD_EDUC = Proporsi total pengeluaran pemerintah untuk pendidikan
2. SE_ADT_FUNS = Proporsi penduduk yang mencapai setidaknya tingkat kemahiran tertentu dalam keterampilan fungsional, berdasarkan jenis kelamin, usia dan jenis keterampilan (literasi dan numerasi).
3. NY_GDP_PCAP = Tingkat pertumbuhan tahunan PDB per kapita (%)
4. SH_H2O_SAFE = Proporsi penduduk yang menggunakan layanan air minum yang dikelola dengan aman, berdasarkan wilayah perkotaan/(%)
5. SI_POV_DAY1 = Proporsi penduduk di bawah garis kemiskinan internasional (%)
6. SN_ITK_DEFCN = Jumlah orang yang kekurangan gizi (dalam satuan juta)

In [86]:
SHEET_NAME = 'Table format'

sg_xpd_educ_original = pd.read_excel('Dataset/SG_XPD_EDUC.xlsx', sheet_name=SHEET_NAME)
se_adt_funs_original = pd.read_excel('Dataset/SE_ADT_FUNS.xlsx', sheet_name=SHEET_NAME)
ny_gdp_pcap_original = pd.read_excel('Dataset/NY_GDP_PCAP.xlsx', sheet_name=SHEET_NAME)
sh_h2o_safe_original = pd.read_excel('Dataset/SH_H2O_SAFE.xlsx', sheet_name=SHEET_NAME)
si_pov_day1_original = pd.read_excel('Dataset/SI_POV_DAY1.xlsx', sheet_name=SHEET_NAME)
sn_itk_defcn_original = pd.read_excel('Dataset/SN_ITK_DEFCN.xlsx', sheet_name=SHEET_NAME)

In [87]:
sg_xpd_educ_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Observation Status,Reporting Type,Units,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,1.a,1.a.2,SG_XPD_EDUC,Proportion of total government spending on ess...,4,Afghanistan,A,G,PERCENT,...,7.13207,7.96457,7.28491,8.26024,8.20247,NaN,NaN,NaN,NaN,NaN
1,1,1.a,1.a.2,SG_XPD_EDUC,Proportion of total government spending on ess...,8,Albania,A,G,PERCENT,...,11.58003,10.98846,10.44102,10.82979,10.57019,10.97070,11.40018,10.13438,9.83378,NaN
2,1,1.a,1.a.2,SG_XPD_EDUC,Proportion of total government spending on ess...,12,Algeria,A,G,PERCENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1.a,1.a.2,SG_XPD_EDUC,Proportion of total government spending on ess...,20,Andorra,A,G,PERCENT,...,NaN,NaN,NaN,NaN,NaN,14.57613,14.71529,13.22508,13.47384,13.29234
4,1,1.a,1.a.2,SG_XPD_EDUC,Proportion of total government spending on ess...,24,Angola,A,G,PERCENT,...,9.44777,6.85226,12.10089,10.82170,8.76030,8.23010,10.79581,NaN,NaN,NaN

In [88]:
se_adt_funs_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Age,Reporting Type,Sex,Type of skill,Units,2006,2011,2012,2013,2014,2015,2017
0,4,4.6,4.6.1,SE_ADT_FUNS,Proportion of population achieving at least a ...,36,Australia,16-65,G,BOTHSEX,LITE,PERCENT,NaN,NaN,87.20045,NaN,NaN,NaN,NaN
1,4,4.6,4.6.1,SE_ADT_FUNS,Proportion of population achieving at least a ...,36,Australia,16-65,G,BOTHSEX,NUME,PERCENT,NaN,NaN,79.51601,NaN,NaN,NaN,NaN
2,4,4.6,4.6.1,SE_ADT_FUNS,Proportion of population achieving at least a ...,36,Australia,16-65,G,FEMALE,LITE,PERCENT,NaN,NaN,87.35749,NaN,NaN,NaN,NaN
3,4,4.6,4.6.1,SE_ADT_FUNS,Proportion of population achieving at least a ...,36,Australia,16-65,G,FEMALE,NUME,PERCENT,NaN,NaN,76.64972,NaN,NaN,NaN,NaN
4,4,4.6,4.6.1,SE_ADT_FUNS,Proportion of population achieving at least a ...,36,Australia,16-65,G,MALE,LITE,PERCENT,NaN,NaN,87.04392,NaN,NaN,NaN,NaN

In [89]:
ny_gdp_pcap_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Observation Status,Reporting Type,Units,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,8,8.1,8.1.1,NY_GDP_PCAP,Annual growth rate of real GDP per capita (%),4,Afghanistan,A,G,PERCENT,...,2.1,-1.4,-5.5,0.2,-1.1,-1.1,7.6,-5.1,-23.0,-8.6
1,8,8.1,8.1.1,NY_GDP_PCAP,Annual growth rate of real GDP per capita (%),2,Africa,A,G,PERCENT,...,1.2,1.4,0.8,-0.6,1.0,0.8,0.1,-4.7,2.9,1.1
2,8,8.1,8.1.1,NY_GDP_PCAP,Annual growth rate of real GDP per capita (%),8,Albania,A,G,PERCENT,...,1.2,1.9,2.3,3.4,3.9,4.1,2.2,-3.2,9.6,5.3
3,8,8.1,8.1.1,NY_GDP_PCAP,Annual growth rate of real GDP per capita (%),12,Algeria,A,G,PERCENT,...,0.8,1.8,1.6,1.2,-0.7,-0.7,-0.8,-6.7,1.7,1.4
4,8,8.1,8.1.1,NY_GDP_PCAP,Annual growth rate of real GDP per capita (%),19,Americas,A,G,PERCENT,...,1.2,1.2,1.2,0.1,1.2,1.6,1.0,-4.1,5.4,1.9

In [90]:
sh_h2o_safe_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Location,Reporting Type,Units,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,ALLAREA,G,PERCENT,...,22.03447,22.94430,23.85359,24.76222,25.67142,26.58131,27.49173,28.40251,29.31384,30.03410
1,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,RURAL,G,PERCENT,...,19.36433,20.29407,21.22380,22.15354,23.08328,24.01301,24.94275,25.87249,26.80222,27.73196
2,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,URBAN,G,PERCENT,...,30.31965,31.07307,31.82649,32.57991,33.33334,34.08676,34.84018,35.59360,36.34703,36.38141
3,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,8,Albania,ALLAREA,G,PERCENT,...,68.45983,70.56326,70.59197,70.61651,70.63694,70.65335,70.66586,70.67454,70.70580,70.73607
4,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,12,Algeria,ALLAREA,G,PERCENT,...,76.25014,76.61823,76.97196,76.39486,75.73054,75.03613,73.95388,72.24815,70.54703,70.59793

In [91]:
si_pov_day1_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Age,Location,Reporting Type,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,ALLAGE,ALLAREA,G,...,32.2,32.3,32.3,31.9,31.50000,31.3,NaN,NaN,NaN,NaN
1,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,<15Y,ALLAREA,G,...,NaN,NaN,NaN,NaN,0.05476,NaN,0.05186,NaN,NaN,NaN
2,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,15-64,ALLAREA,G,...,NaN,NaN,NaN,NaN,0.05629,NaN,0.01868,NaN,NaN,NaN
3,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,65+,ALLAREA,G,...,NaN,NaN,NaN,NaN,0.00000,NaN,0.00000,NaN,NaN,NaN
4,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,ALLAGE,ALLAREA,G,...,1.0,0.1,0.1,0.4,0.00000,0.0,0.00000,NaN,NaN,NaN

In [92]:
sn_itk_defcn_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Observation Status,Reporting Type,Units,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,2,2.1,2.1.1,SN_ITK_DEFCN,Number of undernourished people (millions),4,Afghanistan,E,G,NUM_M,...,6.3,6.7,7.1,7.6,8.3,9.5,10.8,11.8,12.5,NaN
1,2,2.1,2.1.1,SN_ITK_DEFCN,Number of undernourished people (millions),4,Afghanistan,O,G,NUM_M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.1,2.1.1,SN_ITK_DEFCN,Number of undernourished people (millions),2,Africa,E,G,NUM_M,...,181.4,192.1,207,211.6,221.2,231,256.5,269.6,284.1,298.4
3,2,2.1,2.1.1,SN_ITK_DEFCN,Number of undernourished people (millions),901,Africa (ILO),E,G,NUM_M,...,170.1,181.8,198.2,201.7,212.2,221.7,237,249.4,261.7,271.3
4,2,2.1,2.1.1,SN_ITK_DEFCN,Number of undernourished people (millions),8,Albania,E,G,NUM_M,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,NaN

## Menghapus fitur yang tidak diperlukan dan mengubah nama kolom

Pada tahap ini, dilakukan penghapusan fitur / kolom yang tidak relevan terhadap analisis. Fitur- fitur yang tidak diperlukan adalah Goal, Target, Indicator, SeriesCode, SeriesDescription, GeoAreaCode, Units, Reporting Type, dan Observation Status. Kemudian, dilakukan perubahan nama pada beberapa kolom untuk mempermudah proses analisis.

In [93]:
sg_xpd_educ = sg_xpd_educ_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type', 'Observation Status'], axis=1)
se_adt_funs = se_adt_funs_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type'], axis=1)
ny_gdp_pcap =  ny_gdp_pcap_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type', 'Observation Status'], axis=1)
sh_h2o_safe = sh_h2o_safe_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type'], axis=1)
si_pov_day1 = si_pov_day1_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type'], axis=1)
sn_itk_defcn = sn_itk_defcn_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type', 'Observation Status'], axis=1)

sg_xpd_educ.rename(columns={'GeoAreaName': 'negara', '2022':'prop_pengeluaran_pendidikan',}, inplace=True)
sg_xpd_educ.columns = sg_xpd_educ.columns.str.lower()

se_adt_funs.rename(columns={'GeoAreaName': 'negara', '2017': 'prop_penduduk_mahir'}, inplace=True)
se_adt_funs.columns = se_adt_funs.columns.str.lower()

ny_gdp_pcap.rename(columns={'GeoAreaName': 'negara', '2022': 'pdb_per_kapita'}, inplace=True)
ny_gdp_pcap.columns = ny_gdp_pcap.columns.str.lower()

sh_h2o_safe.rename(columns={'GeoAreaname': 'negara', '2022': 'prop_air_minum_aman'}, inplace=True)
sh_h2o_safe.columns = sh_h2o_safe.columns.str.lower()

si_pov_day1.rename(columns={'GeoAreaName': 'negara', '2023': 'prop_penduduk_miskin'}, inplace=True)
si_pov_day1.columns = si_pov_day1.columns.str.lower()

sn_itk_defcn.rename(columns={'GeoAreaName': 'negara', '2023': 'jml_kekurangan_gizi'}, inplace=True)
sn_itk_defcn.columns = sn_itk_defcn.columns.str.lower()

In [94]:
sg_xpd_educ.head()

,negara,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,prop_pengeluaran_pendidikan
0,Afghanistan,NaN,NaN,NaN,12.80618,12.94666,15.08358,14.55921,10.81469,4.86059,...,7.13207,7.96457,7.28491,8.26024,8.20247,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,2.50737,3.67385,3.99481,11.37165,10.76799,11.07502,10.79071,...,11.58003,10.98846,10.44102,10.82979,10.57019,10.97070,11.40018,10.13438,9.83378,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,15.52750,14.27719,13.96228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.57613,14.71529,13.22508,13.47384,13.29234
4,Angola,9.46676,9.43363,8.32275,6.52771,10.83334,7.26366,7.60744,9.28457,7.51377,...,9.44777,6.85226,12.10089,10.82170,8.76030,8.23010,10.79581,NaN,NaN,NaN

In [95]:
se_adt_funs.head()

,negara,age,sex,type of skill,2006,2011,2012,2013,2014,2015,prop_penduduk_mahir
0,Australia,16-65,BOTHSEX,LITE,NaN,NaN,87.20045,NaN,NaN,NaN,NaN
1,Australia,16-65,BOTHSEX,NUME,NaN,NaN,79.51601,NaN,NaN,NaN,NaN
2,Australia,16-65,FEMALE,LITE,NaN,NaN,87.35749,NaN,NaN,NaN,NaN
3,Australia,16-65,FEMALE,NUME,NaN,NaN,76.64972,NaN,NaN,NaN,NaN
4,Australia,16-65,MALE,LITE,NaN,NaN,87.04392,NaN,NaN,NaN,NaN

In [96]:
ny_gdp_pcap.head()

,negara,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,pdb_per_kapita
0,Afghanistan,-6.9,-6.4,54.7,-0.4,-2.3,5.3,4.0,24.0,-9.2,...,2.1,-1.4,-5.5,0.2,-1.1,-1.1,7.6,-5.1,-23.0,-8.6
1,Africa,1.3,1.7,3.0,2.6,3.3,3.5,3.2,3.5,2.4,...,1.2,1.4,0.8,-0.6,1.0,0.8,0.1,-4.7,2.9,1.1
2,Albania,7.8,9.3,5.5,6.6,6.6,6.6,6.9,7.0,8.4,...,1.2,1.9,2.3,3.4,3.9,4.1,2.2,-3.2,9.6,5.3
3,Algeria,2.4,1.6,4.2,5.8,2.8,4.5,0.2,1.7,0.7,...,0.8,1.8,1.6,1.2,-0.7,-0.7,-0.8,-6.7,1.7,1.4
4,Americas,2.7,-0.3,0.2,1.3,3.0,2.5,2.2,1.6,-0.1,...,1.2,1.2,1.2,0.1,1.2,1.6,1.0,-4.1,5.4,1.9

In [97]:
sh_h2o_safe.head()

,geoareaname,location,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,prop_air_minum_aman
0,Afghanistan,ALLAREA,11.09333,11.10522,12.00773,12.90992,13.81868,14.73385,15.64843,16.56252,...,22.03447,22.94430,23.85359,24.76222,25.67142,26.58131,27.49173,28.40251,29.31384,30.03410
1,Afghanistan,RURAL,8.20749,8.20749,9.13723,10.06696,10.99670,11.92644,12.85617,13.78591,...,19.36433,20.29407,21.22380,22.15354,23.08328,24.01301,24.94275,25.87249,26.80222,27.73196
2,Afghanistan,URBAN,21.27858,21.27858,22.03200,22.78542,23.53885,24.29227,25.04569,25.79911,...,30.31965,31.07307,31.82649,32.57991,33.33334,34.08676,34.84018,35.59360,36.34703,36.38141
3,Albania,ALLAREA,49.13832,49.08120,48.98477,48.88545,50.71768,52.57833,54.46708,56.38384,...,68.45983,70.56326,70.59197,70.61651,70.63694,70.65335,70.66586,70.67454,70.70580,70.73607
4,Algeria,ALLAREA,70.07852,70.64219,71.19186,71.72696,72.24755,72.75315,73.24435,73.72072,...,76.25014,76.61823,76.97196,76.39486,75.73054,75.03613,73.95388,72.24815,70.54703,70.59793

In [98]:
si_pov_day1.head()

,negara,age,location,sex,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,prop_penduduk_miskin
0,Africa,ALLAGE,ALLAREA,BOTHSEX,46.7,46.0,45.5,44.6,42.3,40.9,...,32.2,32.3,32.3,31.9,31.50000,31.3,NaN,NaN,NaN,NaN
1,Albania,<15Y,ALLAREA,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.05476,NaN,0.05186,NaN,NaN,NaN
2,Albania,15-64,ALLAREA,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.05629,NaN,0.01868,NaN,NaN,NaN
3,Albania,65+,ALLAREA,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00000,NaN,0.00000,NaN,NaN,NaN
4,Albania,ALLAGE,ALLAREA,BOTHSEX,NaN,NaN,1.1,NaN,NaN,0.6,...,1.0,0.1,0.1,0.4,0.00000,0.0,0.00000,NaN,NaN,NaN

In [99]:
sn_itk_defcn.head()

,negara,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,jml_kekurangan_gizi
0,Afghanistan,NaN,9.2,9.2,8.6,8.5,8.4,8,7.3,6.7,...,6.3,6.7,7.1,7.6,8.3,9.5,10.8,11.8,12.5,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa,187.6,186.4,187.6,190,190.3,184.4,179.1,178.8,175.5,...,181.4,192.1,207,211.6,221.2,231,256.5,269.6,284.1,298.4
3,Africa (ILO),182.7,184.9,184.5,185.8,184.9,180.6,175.8,172.5,169.6,...,170.1,181.8,198.2,201.7,212.2,221.7,237,249.4,261.7,271.3
4,Albania,NaN,0.2,0.2,0.2,0.3,0.3,0.3,0.2,0.2,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,NaN

## Mengisi nilai N/A / missing values

Nilai kosong (N/A) diisi dengan menggunakan metode forward fill (ffill). Cara kerja dari metode ini adalah dengan mengisi nilai kosong dengan nilai terakhir yang tersedia sebelum nilai kosong tersebut

In [100]:
sg_xpd_educ[sg_xpd_educ.columns.difference(['negara'])] = sg_xpd_educ[sg_xpd_educ.columns.difference(['negara'])].fillna(method='ffill',axis=1)
se_adt_funs[se_adt_funs.columns.difference(['negara', 'age', 'sex'])] = se_adt_funs[se_adt_funs.columns.difference(['negara', 'age', 'sex'])].fillna(method='ffill',axis=1)
ny_gdp_pcap[ny_gdp_pcap.columns.difference(['negara'])] = ny_gdp_pcap[ny_gdp_pcap.columns.difference(['negara'])].fillna(method='ffill',axis=1)
sh_h2o_safe[sh_h2o_safe.columns.difference(['negara'])] = sh_h2o_safe[sh_h2o_safe.columns.difference(['negara'])].fillna(method='ffill',axis=1)
si_pov_day1[si_pov_day1.columns.difference(['negara', 'age', 'location', 'sex'])] = si_pov_day1[si_pov_day1.columns.difference(['negara', 'age', 'location', 'sex'])].fillna(method='ffill',axis=1)
sn_itk_defcn[sn_itk_defcn.columns.difference(['negara'])] = sn_itk_defcn[sn_itk_defcn.columns.difference(['negara'])].fillna(method='ffill',axis=1)

In [101]:
sg_xpd_educ.head()

,negara,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,prop_pengeluaran_pendidikan
0,Afghanistan,NaN,NaN,NaN,12.80618,12.94666,15.08358,14.55921,10.81469,4.86059,...,7.13207,7.96457,7.28491,8.26024,8.20247,8.20247,8.20247,8.20247,8.20247,8.20247
1,Albania,NaN,NaN,2.50737,3.67385,3.99481,11.37165,10.76799,11.07502,10.79071,...,11.58003,10.98846,10.44102,10.82979,10.57019,10.97070,11.40018,10.13438,9.83378,9.83378
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,15.52750,14.27719,13.96228,...,14.34175,14.34175,14.34175,14.34175,14.34175,14.34175,14.34175,14.34175,14.34175,14.34175
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.57613,14.71529,13.22508,13.47384,13.29234
4,Angola,9.46676,9.43363,8.32275,6.52771,10.83334,7.26366,7.60744,9.28457,7.51377,...,9.44777,6.85226,12.10089,10.82170,8.76030,8.23010,10.79581,10.79581,10.79581,10.79581

In [102]:
se_adt_funs.head()

,negara,age,sex,type of skill,2006,2011,2012,2013,2014,2015,prop_penduduk_mahir
0,Australia,16-65,BOTHSEX,LITE,NaN,NaN,87.20045,87.20045,87.20045,87.20045,87.20045
1,Australia,16-65,BOTHSEX,NUME,NaN,NaN,79.51601,79.51601,79.51601,79.51601,79.51601
2,Australia,16-65,FEMALE,LITE,NaN,NaN,87.35749,87.35749,87.35749,87.35749,87.35749
3,Australia,16-65,FEMALE,NUME,NaN,NaN,76.64972,76.64972,76.64972,76.64972,76.64972
4,Australia,16-65,MALE,LITE,NaN,NaN,87.04392,87.04392,87.04392,87.04392,87.04392

In [103]:
ny_gdp_pcap.head()

,negara,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,pdb_per_kapita
0,Afghanistan,-6.9,-6.4,54.7,-0.4,-2.3,5.3,4.0,24.0,-9.2,...,2.1,-1.4,-5.5,0.2,-1.1,-1.1,7.6,-5.1,-23.0,-8.6
1,Africa,1.3,1.7,3.0,2.6,3.3,3.5,3.2,3.5,2.4,...,1.2,1.4,0.8,-0.6,1.0,0.8,0.1,-4.7,2.9,1.1
2,Albania,7.8,9.3,5.5,6.6,6.6,6.6,6.9,7.0,8.4,...,1.2,1.9,2.3,3.4,3.9,4.1,2.2,-3.2,9.6,5.3
3,Algeria,2.4,1.6,4.2,5.8,2.8,4.5,0.2,1.7,0.7,...,0.8,1.8,1.6,1.2,-0.7,-0.7,-0.8,-6.7,1.7,1.4
4,Americas,2.7,-0.3,0.2,1.3,3.0,2.5,2.2,1.6,-0.1,...,1.2,1.2,1.2,0.1,1.2,1.6,1.0,-4.1,5.4,1.9

In [104]:
sh_h2o_safe.head()

,geoareaname,location,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,prop_air_minum_aman
0,Afghanistan,ALLAREA,11.09333,11.10522,12.00773,12.90992,13.81868,14.73385,15.64843,16.56252,...,22.03447,22.9443,23.85359,24.76222,25.67142,26.58131,27.49173,28.40251,29.31384,30.0341
1,Afghanistan,RURAL,8.20749,8.20749,9.13723,10.06696,10.9967,11.92644,12.85617,13.78591,...,19.36433,20.29407,21.2238,22.15354,23.08328,24.01301,24.94275,25.87249,26.80222,27.73196
2,Afghanistan,URBAN,21.27858,21.27858,22.032,22.78542,23.53885,24.29227,25.04569,25.79911,...,30.31965,31.07307,31.82649,32.57991,33.33334,34.08676,34.84018,35.5936,36.34703,36.38141
3,Albania,ALLAREA,49.13832,49.0812,48.98477,48.88545,50.71768,52.57833,54.46708,56.38384,...,68.45983,70.56326,70.59197,70.61651,70.63694,70.65335,70.66586,70.67454,70.7058,70.73607
4,Algeria,ALLAREA,70.07852,70.64219,71.19186,71.72696,72.24755,72.75315,73.24435,73.72072,...,76.25014,76.61823,76.97196,76.39486,75.73054,75.03613,73.95388,72.24815,70.54703,70.59793

In [105]:
si_pov_day1.head()

,negara,age,location,sex,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,prop_penduduk_miskin
0,Africa,ALLAGE,ALLAREA,BOTHSEX,46.7,46.0,45.5,44.6,42.3,40.9,...,32.2,32.3,32.3,31.9,31.50000,31.30000,31.30000,31.30000,31.30000,31.30000
1,Albania,<15Y,ALLAREA,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.05476,0.05476,0.05186,0.05186,0.05186,0.05186
2,Albania,15-64,ALLAREA,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.05629,0.05629,0.01868,0.01868,0.01868,0.01868
3,Albania,65+,ALLAREA,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,Albania,ALLAGE,ALLAREA,BOTHSEX,NaN,NaN,1.1,1.1,1.1,0.6,...,1.0,0.1,0.1,0.4,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [106]:
sn_itk_defcn.head()

,negara,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,jml_kekurangan_gizi
0,Afghanistan,NaN,9.2,9.2,8.6,8.5,8.4,8,7.3,6.7,...,6.3,6.7,7.1,7.6,8.3,9.5,10.8,11.8,12.5,12.5
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa,187.6,186.4,187.6,190,190.3,184.4,179.1,178.8,175.5,...,181.4,192.1,207,211.6,221.2,231,256.5,269.6,284.1,298.4
3,Africa (ILO),182.7,184.9,184.5,185.8,184.9,180.6,175.8,172.5,169.6,...,170.1,181.8,198.2,201.7,212.2,221.7,237,249.4,261.7,271.3
4,Albania,NaN,0.2,0.2,0.2,0.3,0.3,0.3,0.2,0.2,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

## Menyaring / Memilih Data

## Menggabungkan dataset