In [26]:
import pandas as pd
import matplotlib.pyplot as plt

## Load & Read Dataset

### Deskripsi dataset:
1. SE_ACS_CMPTR: Persentase sekolah berdasarkan jenjang pendidikan (dasar, menengah pertama, dan menengah atas) yang memiliki akses ke fasilitas komputer.
2. SE_ACS_INTNT: Persentase sekolah yang memiliki akses ke fasilitas internet
3. SE_TOT_PRFL: Proporsi anak-anak dan remaja yang mencapai tingkat kemahiran minimum dalam membaca dan matematika

In [27]:
SHEET_NAME = 'Table format'

se_acs_cmptr_original = pd.read_excel('Dataset/SE_ACS_CMPTR.xlsx', sheet_name=SHEET_NAME)
se_acs_intnt_original = pd.read_excel('Dataset/SE_ACS_INTNT.xlsx', sheet_name=SHEET_NAME)
se_tot_prfl_original = pd.read_excel('Dataset/SE_TOT_PRFL.xlsx', sheet_name=SHEET_NAME)

In [28]:
se_acs_cmptr_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Education level,Reporting Type,Units,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,4,4.a,4.a.1,SE_ACS_CMPTR,Proportion of schools with access to computers...,4,Afghanistan,LOWSEC,G,PERCENT,...,NaN,NaN,NaN,NaN,NaN,10.30588,NaN,NaN,NaN,NaN
1,4,4.a,4.a.1,SE_ACS_CMPTR,Proportion of schools with access to computers...,4,Afghanistan,PRIMAR,G,PERCENT,...,NaN,NaN,NaN,NaN,NaN,8.95870,NaN,NaN,NaN,NaN
2,4,4.a,4.a.1,SE_ACS_CMPTR,Proportion of schools with access to computers...,4,Afghanistan,SECOND,G,PERCENT,...,NaN,NaN,NaN,NaN,NaN,17.82398,NaN,NaN,NaN,NaN
3,4,4.a,4.a.1,SE_ACS_CMPTR,Proportion of schools with access to computers...,4,Afghanistan,UPPSEC,G,PERCENT,...,NaN,NaN,NaN,NaN,NaN,23.47119,NaN,NaN,NaN,NaN
4,4,4.a,4.a.1,SE_ACS_CMPTR,Proportion of schools with access to computers...,8,Albania,LOWSEC,G,PERCENT,...,NaN,NaN,NaN,NaN,71.30112,82.82112,100.0,83.02048,NaN,NaN

In [29]:
se_acs_intnt_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Education level,Reporting Type,Units,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,4,4.a,4.a.1,SE_ACS_INTNT,Proportion of schools with access to the inter...,8,Albania,LOWSEC,G,PERCENT,...,NaN,NaN,NaN,NaN,68.32714,83.92435,100.00000,72.26962,NaN,NaN
1,4,4.a,4.a.1,SE_ACS_INTNT,Proportion of schools with access to the inter...,8,Albania,PRIMAR,G,PERCENT,...,NaN,NaN,NaN,NaN,46.76692,50.70873,56.81391,72.26962,NaN,NaN
2,4,4.a,4.a.1,SE_ACS_INTNT,Proportion of schools with access to the inter...,8,Albania,SECOND,G,PERCENT,...,NaN,NaN,NaN,NaN,74.40217,85.90034,100.00000,70.77844,62.05444,NaN
3,4,4.a,4.a.1,SE_ACS_INTNT,Proportion of schools with access to the inter...,8,Albania,UPPSEC,G,PERCENT,...,NaN,NaN,NaN,76.19048,90.90909,90.94567,100.00000,67.26908,NaN,NaN
4,4,4.a,4.a.1,SE_ACS_INTNT,Proportion of schools with access to the inter...,12,Algeria,LOWSEC,G,PERCENT,...,NaN,NaN,NaN,NaN,NaN,NaN,59.89676,NaN,NaN,93.21817

In [30]:
se_tot_prfl_original.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Education level,Reporting Type,Sex,...,2013,2014,2015,2016,2017,2018,2019,2021,2022,2023
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,LOWSEC,G,BOTHSEX,...,NaN,NaN,46.71703,NaN,NaN,57.62715,NaN,NaN,26.05,NaN
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,LOWSEC,G,BOTHSEX,...,NaN,NaN,49.72273,NaN,NaN,47.76432,NaN,NaN,26.29,NaN
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,LOWSEC,G,FEMALE,...,NaN,NaN,48.80595,NaN,NaN,59.42498,NaN,NaN,29.33,NaN
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,LOWSEC,G,FEMALE,...,NaN,NaN,NaN,NaN,NaN,58.04195,NaN,NaN,34.80,NaN
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,LOWSEC,G,MALE,...,NaN,NaN,44.61966,NaN,NaN,55.90192,NaN,NaN,23.03,NaN

## Menghapus fitur yang tidak diperlukan dan mengubah nama kolom

Pada tahap ini, dilakukan penghapusan fitur / kolom yang tidak relevan terhadap analisis. Fitur- fitur yang tidak diperlukan adalah Goal, Target, Indicator, SeriesCode, SeriesDescription, GeoAreaCode, Units, Reporting Type, dan Observation Status. Kemudian, dilakukan perubahan nama pada beberapa kolom untuk mempermudah proses analisis.

In [31]:
se_acs_cmptr = se_acs_cmptr_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type'], axis=1)
se_acs_intnt = se_acs_intnt_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type'], axis=1)
se_tot_prfl =  se_tot_prfl_original.drop(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'Units', 'Reporting Type'], axis=1)


se_acs_cmptr.rename(columns={'GeoAreaName': 'negara', '2023':'akses_komputer'}, inplace=True)
se_acs_cmptr.columns = se_acs_cmptr.columns.str.lower()

se_acs_intnt.rename(columns={'GeoAreaName': 'negara', '2023': 'akses_internet'}, inplace=True)
se_acs_intnt.columns = se_acs_intnt.columns.str.lower()

se_tot_prfl.rename(columns={'GeoAreaName': 'negara', '2023': 'prop_penduduk_mahir'}, inplace=True)
se_tot_prfl.columns = se_tot_prfl.columns.str.lower()

In [32]:
se_acs_cmptr.head()

,negara,education level,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,akses_komputer
0,Afghanistan,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.30588,NaN,NaN,NaN,NaN
1,Afghanistan,PRIMAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.95870,NaN,NaN,NaN,NaN
2,Afghanistan,SECOND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.82398,NaN,NaN,NaN,NaN
3,Afghanistan,UPPSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23.47119,NaN,NaN,NaN,NaN
4,Albania,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,71.30112,82.82112,100.0,83.02048,NaN,NaN

In [33]:
se_acs_intnt.head()

,negara,education level,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,akses_internet
0,Albania,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,68.32714,83.92435,100.00000,72.26962,NaN,NaN
1,Albania,PRIMAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,46.76692,50.70873,56.81391,72.26962,NaN,NaN
2,Albania,SECOND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.40217,85.90034,100.00000,70.77844,62.05444,NaN
3,Albania,UPPSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,76.19048,90.90909,90.94567,100.00000,67.26908,NaN,NaN
4,Algeria,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.89676,NaN,NaN,93.21817

In [34]:
se_tot_prfl.head()

,negara,education level,sex,type of skill,2000,2001,2002,2003,2004,2005,...,2013,2014,2015,2016,2017,2018,2019,2021,2022,prop_penduduk_mahir
0,Albania,LOWSEC,BOTHSEX,SKILL_MATH,36.61129,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,46.71703,NaN,NaN,57.62715,NaN,NaN,26.05,NaN
1,Albania,LOWSEC,BOTHSEX,SKILL_READ,29.70000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,49.72273,NaN,NaN,47.76432,NaN,NaN,26.29,NaN
2,Albania,LOWSEC,FEMALE,SKILL_MATH,40.27000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,48.80595,NaN,NaN,59.42498,NaN,NaN,29.33,NaN
3,Albania,LOWSEC,FEMALE,SKILL_READ,39.56000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.04195,NaN,NaN,34.80,NaN
4,Albania,LOWSEC,MALE,SKILL_MATH,32.79000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,44.61966,NaN,NaN,55.90192,NaN,NaN,23.03,NaN

## Mengisi nilai N/A / missing values

Nilai kosong (N/A) diisi dengan menggunakan metode forward fill (ffill). Cara kerja dari metode ini adalah dengan mengisi nilai kosong dengan nilai terakhir yang tersedia sebelum nilai kosong tersebut

In [35]:
se_acs_cmptr[se_acs_cmptr.columns.difference(['negara', 'education level'])] = se_acs_cmptr[se_acs_cmptr.columns.difference(['negara', 'education level'])].fillna(method='ffill',axis=1)
se_acs_intnt[se_acs_intnt.columns.difference(['negara', 'education level'])] = se_acs_intnt[se_acs_intnt.columns.difference(['negara', 'education level'])].fillna(method='ffill',axis=1)
se_tot_prfl[se_tot_prfl.columns.difference(['negara', 'education level', 'sex', 'type of skill'])] = se_tot_prfl[se_tot_prfl.columns.difference(['negara', 'education level', 'sex', 'type of skill'])].fillna(method='ffill',axis=1)

In [37]:
se_acs_cmptr.head()

,negara,education level,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,akses_komputer
0,Afghanistan,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.30588,10.30588,10.30588,10.30588,10.30588
1,Afghanistan,PRIMAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.95870,8.95870,8.95870,8.95870,8.95870
2,Afghanistan,SECOND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.82398,17.82398,17.82398,17.82398,17.82398
3,Afghanistan,UPPSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23.47119,23.47119,23.47119,23.47119,23.47119
4,Albania,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,71.30112,82.82112,100.00000,83.02048,83.02048,83.02048

In [38]:
se_acs_intnt.head()

,negara,education level,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,akses_internet
0,Albania,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,68.32714,83.92435,100.00000,72.26962,72.26962,72.26962
1,Albania,PRIMAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,46.76692,50.70873,56.81391,72.26962,72.26962,72.26962
2,Albania,SECOND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.40217,85.90034,100.00000,70.77844,62.05444,62.05444
3,Albania,UPPSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,76.19048,90.90909,90.94567,100.00000,67.26908,67.26908,67.26908
4,Algeria,LOWSEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.89676,59.89676,59.89676,93.21817

In [39]:
se_tot_prfl.head()

,negara,education level,sex,type of skill,2000,2001,2002,2003,2004,2005,...,2013,2014,2015,2016,2017,2018,2019,2021,2022,prop_penduduk_mahir
0,Albania,LOWSEC,BOTHSEX,SKILL_MATH,36.61129,36.61129,36.61129,36.61129,36.61129,36.61129,...,39.33503,39.33503,46.71703,46.71703,46.71703,57.62715,57.62715,57.62715,26.05,26.05
1,Albania,LOWSEC,BOTHSEX,SKILL_READ,29.70000,29.70000,29.70000,29.70000,29.70000,29.70000,...,47.66456,47.66456,49.72273,49.72273,49.72273,47.76432,47.76432,47.76432,26.29,26.29
2,Albania,LOWSEC,FEMALE,SKILL_MATH,40.27000,40.27000,40.27000,40.27000,40.27000,40.27000,...,39.70000,39.70000,48.80595,48.80595,48.80595,59.42498,59.42498,59.42498,29.33,29.33
3,Albania,LOWSEC,FEMALE,SKILL_READ,39.56000,39.56000,39.56000,39.56000,39.56000,39.56000,...,50.72000,50.72000,50.72000,50.72000,50.72000,58.04195,58.04195,58.04195,34.80,34.80
4,Albania,LOWSEC,MALE,SKILL_MATH,32.79000,32.79000,32.79000,32.79000,32.79000,32.79000,...,38.99000,38.99000,44.61966,44.61966,44.61966,55.90192,55.90192,55.90192,23.03,23.03

## Menyaring / Memilih Data

## Menggabungkan dataset